<% if user_signed_in? %>
    Logged in as <strong><%= current_user.name %></strong> -
    <% link_to 'Edit Account', edit_user_registration_path %> -
    <% link_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to 'Sign Up', new_user_registration_path %> -
    <%= link_to 'Login', new_user_session_path %>
<% end %>

<h1>Shopping Cart</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
    </tr>
<%= render :partial => 'shopping_cart_item', :collection => @shopping_cart.shopping_cart_items %>
</table>


<p>
    <strong>SubTotal:</strong>
    £<%= @shopping_cart.subtotal %>
</p>

<%= link_to 'Checkout', orders_path, :method => 'PUSH' %>
<%= link_to 'Clear Cart', basket_path, :method => 'DELETE' %>
