<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.name %></strong> -
  <%= link_to 'Edit Account', edit_user_registration_path %> -
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign Up", new_user_registration_path %> -
  <%= link_to "Login", new_user_session_path %>
<% end %>

<h1>Listing Wines</h1>

<div>
    <%= form_tag("/wines/search", method: "get") do %>
        <%= label_tag(:term, "Search for:") %>
        <%= text_field_tag(:term) %>
        <%= submit_tag("Search") %>
    <% end %>
</div>

<table>
   <tr>
       <th>ID</th>
       <th>Name</th>
       <th>Image</th>
       <th>Short Description</th>
       <th>Bottle Size</th>
       <th>Price</th>
       <th>Supplier</th>
   </tr>
   <% @wines.each do |wine| %>
      <tr>
           <td><%= wine.id %></td>
           <td>
               <a href="/wines/<%= wine.id %>">
                    <%= wine.name %>
               </a>
           </td>
           <td><img src="<%= wine.image %>"/></td>
           <td><%= wine.short_description %></td>
           <td><%= wine.size %>ml</td>
           <td>£<%= wine.price %></td>
           <td><%= wine.supplier %></td>
      </tr>
  <% end %>
</table>

<div class="digg_pagination">
    <div>
        <%= page_entries_info @users %>
    </div>
    <%= will_paginate @users, container: false %>
</div>
