<h1>Listing Wines</h1>

<table>
   <tr>
       <th>ID</th>
       <th>Name</th>
       <th>Price</th>
   </tr>
   <% @wines.each do |wine| %>
      <tr>
           <td><%= wine.id %></td>
           <td>
               <a href="/wines/<%= wine.id %>">
                    <%= wine.name %>
               </a>
           </td>
           <td><%= wine.price %></td>
      </tr>
  <% end %>
</table>

<div class="digg_pagination">
    <div>
        <%= page_entries_info @users %>
    </div>
    <%= will_paginate @users, container: false %>
</div>
