<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<p>
    <strong>Wine Name:</strong>
    <%= @wine.name %>
</p>

<p>
    <img src="<%= @wine.image %>"
</p>

<p>
    <%= @wine.long_description %>
</p>

<p>
    <strong>Country of Origin:</strong>
    <%= @wine.origin %>
</p>

<p>
    <strong>Grape Type:</strong>
    <%= @wine.grape %>
</p>

<p>
    <strong>Suitable for Vegitarians?</strong>
    <%=
        if @wine.vegitarian
            "Yes"
        else
            "No"
        end
    %>
</p>

<p>
    <strong>Bottle Size:</strong>
    <%= @wine.size %>ml
</p>

<p>
    <strong>Price:</strong>
    £<%= @wine.price %>
</p>

<p>
    <strong>Supplier:</strong>
    <%= @wine.supplier %>
</p>

<%= form_tag(basket_path, method: "post") do %>
    <%= label_tag(:num_wine_label, "Amount") %>
    <%= select_tag(:num_wine, "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe) %>
    <%= hidden_field_tag(:id, @wine.id) %>
    <%= submit_tag("Order") %>
<% end %>
